" Causes problems with some mappings
"source ~/.vim/vimrc

let mapleader=" "

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" turn relative line numbers on
:set relativenumber

" Do incremental searching.
set incsearch

map Q @@

" Mappings
map <leader>ds <Action>(Debug)
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>rn <Action>(RenameElement)
map <leader>fm <Action>(ReformatCode)

" Exit to normal mode with 'jj'
inoremap jj <ESC>

imap <C-j> <Down>
imap <C-k> <Up>
imap <C-h> <Left>
imap <C-l> <Right>

" Plugins

set which-key
" disable the timeout option
set notimeout
" increase the timeoutlen (default: 1000), don't add space around the equal sign
set timeoutlen=5000

Plug 'tpope/vim-surround'
Plug 'justinmk/vim-sneak'
Plug 'tpope/vim-commentary'
